//tools
@import "_misc/mixins";
@import "_misc/normalize";

//fonts
@import "fonts.css";

//partials
@import "partials/container";
@import "partials/header";
@import "partials/nav";

* {
  @include box-sizing(border-box);

}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;

  /*
      Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
  */
  line-height: 1.42;
  position: relative;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;

  @include phones {
    margin-bottom: 10%;
  }
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-bottom: 30px;

  @include phones {
    flex-flow: row wrap;
  }
}

.nav {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: flex-start;

  @include phones {
    flex: 100%;
    order: 2;
  }

}

.index__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 9;

  @include phones {
    flex: 100%;
    order: 1;
  }

}

.pagination {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @include phones {
    display: none;
  }
}

.paginator {
  height: 180px;
  width: 22px;
}

.index__logo {
  width: 72%;

  @include phones {
    width: 84%;
  }

}

.st0 {
  fill: #2C3339;
}