//tools
@import "_misc/mixins";
@import "_misc/normalize";

//fonts
@import "fonts.css";

//partials
@import "partials/background";
@import "partials/header";
@import "partials/nav";
@import "partials/content";

* {
  @include box-sizing(border-box);

}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;

  /*
      Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
  */
  line-height: 1.42;
  position: relative;
}

.visually-hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-bottom: 36px;

  @include phones {
    flex-flow: row wrap;
    padding-bottom: 0;
  }
}


.pagination {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;

  @include phones {
    display: none;
  }
}

.paginator {
  height: 180px;
  width: 22px;
}

.index__logo {
  width: 72%;

  @include tablets {
    width: 100%;
    margin-right: 20%;
  }

  @include phones {
    width: 84%;
  }

}

.st0 {
  fill: #2C3339;
}