.nav {
  position: relative;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: flex-start;


  @include tablets {
    flex: 2;
    flex-shrink: 2;
  }

  @include phones {
    display: none;
    flex: 100%;
    order: 2;

    &-index {
      display: flex;
      flex-direction: column;
    }
  }

}



.nav__icon {
  margin-top: 65px;
  margin-left: 8%;
  margin-bottom: 25px;

  @include phones {
    display: none;
  }

}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 3%;
  padding-right: 11%;
  min-width: 270px;

  @include tablets {
    min-width: 250px;
    padding-left: 2%;
    padding-right: 2%;
  }

}

.nav__items {
  padding-left: 5%;

  &-active {
    border: 2px solid #CED5D8;
    font-weight: bold;
  }
}

.nav__links {
  color: #CED5D8;
  text-decoration: none;
  font-family: PlumbC;

  font-size: 18px;
  line-height: 48px;
}

.nav__links-index {
  color: #2C3339;
  font-weight: bold;
}

.nav__lang {
  position: fixed;
  left: -6%;
  bottom: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 8%;
  margin-top: auto;
  display: flex;
  width: 102px;
  justify-content: space-around;

  &-index {
    flex-shrink: 2;

    @include phones {
      left: 55%;
      bottom: 10px;

      & li {
        border-color: #2C3339;
      }

      & a {
        color: #2C3339;
      }
    }
  }

  &-mob {
    @include phones {
      left: 2%;
      bottom: 20px;

      & li {
        border-color: #CED5D8;
      }

      & a {
        color: #CED5D8;
      }
    }
  }
}

.lang__item {
  flex: 1;
  display: flex;
  justify-content: center;

}

.lang__item-active {
  border: 2px solid #CED5D8;
}

.lang__links {
  color: #CED5D8;
  text-decoration: none;
  font-family: PlumbC;
  font-weight: bold;
  font-size: 18px;
  line-height: 48px;
}